:root {
  --btn-color: #ffffff80;
  --btn-filter: invert(50%);
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body{
  width: 100vw;
  height: 100vh;
  -webkit-app-region: no-drag;
  background-color: transparent;
} 

.main {
  -webkit-app-region: drag;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content: space-between;
}

.right-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#schedule {
  display: flex;
  /* center vertically */
  align-items: center;
  color: white;
  font-size: 1em;
  font-weight: 300;
}

.btn{
  -webkit-app-region: no-drag;
  cursor: pointer;
  color: #ffffff80;
  color:var(--btn-color);
  /* filter: invert(50%); */
  width: 30px;
  height: 30px;
  text-align: center;
}

#close:hover {
  color: red;
}

#minimize:hover {
  color: yellow;
}

#toggle {
  filter: var(--btn-filter);
  height: 20px;
  user-select: none;
}

#toggle:hover {
  filter: invert(100%);
}