:root {
  --btn-color: #ffffff80;
  --btn-filter: invert(50%);
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body{
  width: 100vw;
  height: 100vh;
  -webkit-app-region: drag;
  /* background-color: transparent; */
  /* rounded */

} 

#schedule {
  /* box-sizing: content-box; */
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  /* outline: white solid 1px; */
  border: transparent solid 1px;
}

.schedule-heading {
  /* box-sizing: border-box; */
  /* padding: 10px; */
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content: space-between;
}

.right-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#schedule-title {
  display: flex;
  /* center vertically */
  align-items: center;
  color: white;
  font-size: 1em;
  font-weight: 300;
}

.btn{
  -webkit-app-region: no-drag;
  cursor: pointer;
  /* color: #ffffff80; */
  color:var(--btn-color);
  /* filter: invert(50%); */
  width: 30px;
  height: 30px;
  text-align: center;
}

#close:hover {
  color: red;
}

#minimize:hover {
  color: yellow;
}

#open, #toggle, #add{
  filter: var(--btn-filter);
  height: 20px;
  user-select: none;
}

#toggle:hover, #open:hover, #add:hover {
  filter: invert(100%);
}


#schedule-body{
  padding: 20px;
  color: white;
  /* font-size: 1.2em; */
  word-wrap: break-word;
}